<launch>
	
	<include file="$(find stdr_robot)/launch/robot_manager.launch" />
	
	<node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find cat_and_mouse_robots)/resources/maps/simple.yaml"/>

	<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100" />
	
	<include file="$(find stdr_gui)/launch/stdr_gui.launch"/>

    <group>
	    <node pkg="stdr_robot" type="robot_handler" name="cat0" args="add $(find stdr_resources)/resources/robots/cat.xml 4 4 1.57 cat0"  />
	    <node pkg="stdr_robot" type="robot_handler" name="cat1" args="add $(find stdr_resources)/resources/robots/cat.xml 7 4 1.57 cat1"  />
	    <node pkg="stdr_robot" type="robot_handler" name="mouse0" args="add $(find stdr_resources)/resources/robots/mouse.xml 4 4.5 1.57 mouse0"  />
	    <node pkg="stdr_robot" type="robot_handler" name="mouse1" args="add $(find stdr_resources)/resources/robots/mouse.xml 7 4.5 1.57 mouse1"  />
    </group>

    <group>
	    <node name="mouse0_movement" pkg="cat_and_mouse_robots" type="mouse_movement.py" args="mouse0" output="screen"/>
	    <node name="mouse1_movement" pkg="cat_and_mouse_robots" type="mouse_movement.py" args="mouse1" output="screen"/>
	    <node name="cat0_movement" pkg="cat_and_mouse_robots" type="cat_movement.py" args="cat0" output="screen" />
	    <node name="cat1_movement" pkg="cat_and_mouse_robots" type="cat_movement.py" args="cat1" output="screen" />
    </group>

    <node name="cat_mouse_world" pkg="cat_mouse_world" type="cat_mouse_world" output="screen">
        <param name="n_cats" value="2" />
        <param name="n_mice" value="2" />
    </node>

</launch>
