<launch>
	<include file="$(find stdr_robot)/launch/robot_manager.launch" />
	
	<node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find cat_and_mouse_robots)/resources/maps/w.yaml"/>

	<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100" />
	
	<include file="$(find stdr_gui)/launch/stdr_gui.launch"/>
	
	<node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn_0)" args="add $(find cat_and_mouse_robots)/resources/robots/simplex.yaml 1 4.5 0" />
    <node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn_1)" args="add $(find cat_and_mouse_robots)/resources/robots/simplex.yaml 7 4 3.14" />

    <param name="x_goal" value="3.0" />
    <param name="y_goal" value="3.0" />

	<node name="go_to_goal" pkg="cat_and_mouse_robots" type="go_to_goal.py" output="screen" />
</launch>

